$red: #a41a1a;
$blue: #0069ad;
$bg-color: #faf6ea;

@mixin hover-transition{
    transition: 0.3s;
}

@mixin border-style{
    border: 2px solid black;
    opacity: 1;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #faf6ea;
}

.navbar{
    min-height:75px;
    font-weight:700;
    font-size:20px;

    .nav-link{
        padding-left: 50px;
    }

    .logo{
        width:100px;
        padding: 8px;
    }    


}




//////////////CONTENT//////////////
h1{
    font-weight:900;
}

p {
    font-size: 20px;
    line-height: 1.75em;
}

hr{
    border: 1px solid black;
    opacity: 1;
    margin-top: 0;
}
.reg-button{
    background-color:black;
    border-radius: 8px;
    border: none;
    color: $bg-color;
    line-height: 1.5;    
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-weight:400;
    padding:10px 20px 10px 20px;
    @include hover-transition();

}

.reg-button:hover{
    color: #726f68;
}



//////////FOOTER/////////

.footerClass{
    background-color: black;
    color: $bg-color;
    margin-top: 200px;
    .footerLogo{
        display:flex;
        justify-content: center;
        padding: 60px;
       // max-width: 50px;

        .logo{
            max-width: 75%;
            padding: 10px;
            object-fit: contain;
        }
       
    }

    .footerNav{
        padding: 100px 50px 50px 0px;
        line-height: 1.75em;
        font-size: 20px;

        .list{
            list-style-type: none;
            
            a{
                text-decoration: none;
                color: $bg-color;
                @include hover-transition();
            }

            a:hover{
                opacity: 0.5;
            }
        }
    }

    .footerContact{
        padding: 100px 0px 50px 0px;


        h3{
            font-weight:900;
        }

        .socialRow{
            width: 150px;
            padding-top:10px;
            
            .socialIcon{
                width:45px;
                padding:3px;
                @include hover-transition();
            }

            .socialIcon:hover{
                opacity:0.5;
            }
        }

    }

    .footerImage{
        img{
            object-fit: fill;
            width:100%;
        }
    }

    @media screen and (max-width:1200px) and (min-width:200px){
        
        .footerImage{
            display:none;


        }
        .footerLogo{
            .logo{
                max-width: 90%;
    
            }
        }
 
    }
    
    @media screen and (max-width: 600px) and (min-width: 200px){

        
        .footerNav{
            display:flex;
            justify-content: center;
            padding: 20px 20px 0px 0px;
        }

        .footerContact{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 50px 0px 75px 0px;

        }
    }
    

}

    


