.bannerWrapper {
  background-color: #eab127;
}
.bannerWrapper .bannerLeftBox {
  background-image: url("../images/products_banner.jpg");
  background-size: cover;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  background-attachment: bottom center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 50vh;
}
.bannerWrapper .bannerTextBox {
  background-color: #faf6ea;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.bannerWrapper .bannerTextBox .bannerText {
  font-weight: 900;
  line-height: 110%;
  padding-bottom: 20px;
}
.bannerWrapper .bannerTextBox .bannerLine {
  background-color: #a41a1a;
}

h1 {
  font-weight: 900;
  font-size: 1.75em;
}

h2 {
  font-size: 1em;
  font-weight: 900;
  color: #a41a1a;
}

p {
  font-size: 20px;
  line-height: 1.75em;
}

.reg-button {
  background-color: black;
  border-radius: 8px;
  border: none;
  color: #faf6ea;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  transition: 0.3s;
}

.reg-button:hover {
  color: #726f68;
}

.contentWrapper {
  background-color: #faf6ea;
  display: flex;
  justify-content: center;
}
.contentWrapper .contentSection {
  padding: 150px 150px 0px 150px;
  background-color: #faf6ea;
  max-width: 1500px;
}
.contentWrapper .contentSection .headContainer {
  align-items: end;
}
.contentWrapper .contentSection .headContainer .filtersList {
  display: flex;
  justify-content: end;
  list-style-type: none;
}
.contentWrapper .contentSection .headContainer .filtersList .list {
  padding: 5px 10px 5px 10px;
  font-weight: 900;
}
.contentWrapper .contentSection .headContainer .filtersList .list:hover {
  background-color: black;
  color: #faf6ea;
}
.contentWrapper .contentSection .hr1 {
  border: 2px solid black;
  opacity: 1;
  margin-left: 0;
}
.contentWrapper .contentSection .hr2 {
  border: 2px solid black;
  opacity: 1;
  margin-right: 0;
}
.contentWrapper .contentSection .rollout {
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s ease-out;
  width: 0%;
  text-align: right;
}
.contentWrapper .contentSection .grow {
  width: 100%;
}
.contentWrapper .contentSection .alignRight {
  text-align: right;
}
.contentWrapper .contentSection .productsRow .productCol {
  padding-bottom: 60px;
}
.contentWrapper .contentSection .productsRow .productCol .imgClass {
  max-width: 100%;
}
.contentWrapper .contentSection .productsRow .productCol .name {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}
.contentWrapper .contentSection .productsRow .productCol .price {
  color: #0069ad;
  font-weight: 600;
}
.contentWrapper .contentRow {
  margin-top: 20px;
  align-items: start;
}
.contentWrapper .contentRow .contentImage {
  max-width: 100%;
  text-align: center;
}
.contentWrapper .contentRow .contentImage .sideImage {
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  .bannerTextBox {
    padding: 50px 70px 50px 70px;
  }
  .bannerText {
    font-size: 75px;
    text-align: right;
  }
  .bannerLine {
    width: 240px;
    height: 30px;
  }
  .contentSection {
    padding: 50px 50px 0px 50px;
  }
  h1 {
    padding-top: 20px;
  }
  .rowReverse {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 500px) and (max-width: 1050px) {
  .bannerTextBox {
    padding: 50px 175px 50px 120px;
  }
  .bannerText {
    font-size: 125px;
  }
  .bannerLine {
    width: 240px;
    height: 30px;
  }
  .contentSection {
    padding: 50px 50px 0px 50px;
  }
  h1 {
    padding-top: 20px;
  }
  .contentRow {
    align-items: start;
  }
}
@media screen and (min-width: 1050px) {
  .bannerTextBox {
    padding: 50px 100px 50px 100px;
  }
  .bannerText {
    font-size: 125px;
  }
  .bannerLine {
    width: 340px;
    height: 40px;
  }
  .contentWrapper .contentSection {
    padding: 150px 150px 0px 150px;
  }
}

/*# sourceMappingURL=cakery_products.css.map */
